/*reset das propriedades*/
* {
  box-sizing: border-box; /*encaixa todas as propriedades dentro da altura determinada para o elemento*/
  margin: 0;
  padding: 0;
}

h1 {
    color: green;
}

h2 {
    color: green;
}

#economy h2 {
  color: gold;
}

.creation-date {
  color: #ccc;
}

* {
  font-family: 'Roboto', sans-serif;
}
